{% extends 'base.html.twig' %}

{% block title %}CRUD Main{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="col-md-12 row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: center;"><h2>Welcome to the CRUD project</h2></div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}
