{% extends 'base.html.twig' %}

{% block title %}CRUD Article{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="mt-5 mb-3"><h2>List of articles</h2></div>
                <table class="table table-striped border-left border-right">
                    <thead>
                    <tr class="font-weight-bold">
                        <td>ID</td>
                        <td>Title</td>
                        <td>Actions</td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>New features in PHP!</td>
                        <td>
                            <a class="text-danger" href="#">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a href="#" class="btn btn-primary">Add new</a>
            </div>
        </div>
    </div>

{% endblock %}
